.row
  .pull-right
    = form_tag invoices_path, method: :get do
      = text_field_tag 'search[date_from]', @search.date_from
      = text_field_tag 'search[date_to]', @search.date_to
      = submit_tag 'Search', class: 'btn search-button'

%p#notice= notice
%h1.page-header Listing Invoices
.row
  .col.col-sm-12
    %table.table.table-hover.table-striped
      %thead
        %tr
          %th Date
          %th Company
          %th Tax
          %th Salesperson
          %th{colspan: '3'}
      %tbody
        - @invoices.each do |invoice|
          %tr
            %td= invoice.date.strftime('%m/%d/%Y')
            %td= invoice.company
            %td= invoice.tax
            %td= invoice.salesperson
            %td= link_to 'Show', invoice, class: 'btn btn-block btn-default'
            %td= link_to 'Edit', edit_invoice_path(invoice), class: 'btn btn-block btn-success'
            %td= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-block btn-danger'
    %br/
    = link_to 'New Invoice', new_invoice_path
